

/*Boxes*/
#box
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 420px;
    top: 740px;
}
#box1
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 580px;
    top: 640px;
}
#box2
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 500px;
    top: 540px;
}
#box3
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 630px;
    top: 650px;
}
#box4
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 370px;
    top: 550px;
}
#box5
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 410px;
    top: 300px;
}
#box6
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 600px;
    top: 300px;
}
#box7
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 500px;
    top: 100px;
}
#box8
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 400px;
    top: 100px;
    border-radius: 2px;
    border-color: black;
    border-left: 4px;
    border-right: 4px;
    border-top :0px;
}
#box9
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 500px;
    top: 100px;
}
#box10
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 500px;
    top: 200px;
}
#box11
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 500px;
    top: -100px;
}
#box12
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 400px;
    top: -100px;
}
#box13
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 600px;
    top: -200px;
}
#box14
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 590px;
    top: -600px;
}
#box15
{
    height: 100px;
    width: 100px; 
    background-color: rgb(0, 0, 0);
    position: relative;
    left: 500px;
    top: -400px;
}
#box16
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 440px;
    top: -400px;
}
#box17
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 560px;
    top: -500px;
}
#box18
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 580px;
    top: -800px;
}
#box19
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 420px;
    top: -900px;
}
#box20
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 500px;
    top: -1100px;
}
#box21
{
    height: 100px;
    width: 100px; 
    background-color: rgb(219, 218, 218);
    position: relative;
    left: 500px;
    top: -850px;
}
#box22
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-1100px;
    left: 700px
}
#box23
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-1300px;
    left: 650px
}
#box24
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-1250px;
    left: 650px
}
#box25
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-1450px;
    left: 750px
}
#box26
{
    height: 100px;
    width: 100px;
    background-color: rgb(51, 14, 0);
    position: relative;
    top:-1650px;
    left: 750px
}
#box27
{
    height: 100px;
    width: 100px;
    background-color: rgb(94, 67, 31);
    position: relative;
    top:-1850px;
    left: 700px
}
#box28
{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top:-1850px;
    left: 700px
}
#box29
{
    height: 100px;
    width: 100px;
    background-color: rgb(94, 67, 31);
    position: relative;
    top:-1850px;
    left: 800px
}

#box31
{
    height: 100px;
    width: 100px;
    background-color: rgb(94, 67, 31);
    position: relative;
    top:-2000px;
    left: 850px
}
#box32
{
    height: 100px;
    width: 100px;
    background-color: rgb(94, 67, 31);
    position: relative;
    top:-2200px;
    left: 950px
}
#box33
{
    height: 100px;
    width: 100px;
    background-color: rgb(94, 67, 31);
    position: relative;
    top:-2400px;
    left: 670px
}
#box34
{
    height: 100px;
    width: 100px;
    background-color: rgb(94, 67, 31);
    position: relative;
    top:-2450px;
    left: 800px
}
#box35
{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top:-2500px;
    left: 850px
}
#box36
{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top:-2500px;
    left: 950px
}
#box37
{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top:-2500px;
    left: 850px
}
#box38
{
    height: 100px;
    width: 100px;
    background-color: rgb(51, 14, 0);
    position: relative;
    top:-2550px;
    left: 750px;
}
#box39
{
    height: 100px;
    width: 100px;
    background-color: rgb(51, 14, 0);
    position: relative;
    top:-2550px;
    left: 850px;
}

#box41
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3050px;
    left: 900px;
}
#box42
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3050px;
    left: 800px;
}
#box43
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3250px;
    left: 800px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
}
#box44
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3400px;
    left: 850px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
}
#box45
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3550px;
    left: 900px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
}
#box46
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3650px;
    left: 970px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
}
#box47
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3690px;
    left: 1000px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
}
#box48
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3770px;
    left: 1020px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
}
#box49
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3950px;
    left: 1000px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
}
#box50
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-4000px;
    left: 730px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
}
#box51
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-4000px;
    left: 730px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
}
#box52
{
    height: 100px;
    width: 100px;
    background-color: rgb(51, 14, 0);
    position: relative;
    top:-4150px;
    left: 900px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;

}
#box53
{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top:-4200px;
    left: 1000px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
    
}
#box54
{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    position: relative;
    top:-4260px;
    left: 800px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
    
    
    
}
#box55
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-4500px;
    left: 1000px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
    
    
    
}
#box56
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-4550px;
    left: 700px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
    
    
    
}
#box57
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-4650px;
    left: 600px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
    
    
    
}
#box58
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-4750px;
    left: 730px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
    
    
    
}
#box59
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-4810px;
    left: 740px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
    
    
    
}
#box60
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-4960px;
    left: 930px;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 6px ;
    
}



/*head*/
#box40
{
    height: 200px;
    width: 300px;
    background-color: rgb(219, 218, 218);
    position: relative;
    top:-3250px;
    left: 360px;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    padding: 5px;
    border: 6px solid black;
    rotate: -5deg;
}










/*Tri's*/

#Triangle
{
    
   width: 0px;
   height: 0px;
    position: relative;
    border-left: 15px solid transparent ;
    border-right: 15px solid transparent;
    border-bottom: 50px solid #aa0d0d;
    position: relative;
    top: -5430px;
    left: 530px;
    rotate: -5deg;
}
#Triangle1
{
    
   width: 0px;
   height: 0px;
    position: relative;
    border-left: 50px solid transparent ;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #743912;
    position: relative;
    top: -5680px;
    left: 370px;
    rotate: -5deg;
}
#Triangle2
{
    
   width: 0px;
   height: 0px;
    position: relative;
    border-left: 50px solid transparent ;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #743912;
    position: relative;
    top: -5796px;
    left: 550px;
    rotate: -5deg;
}
#Triangle3
{
    
   width: 0px;
   height: 0px;
    position: relative;
    border-left: 35px solid transparent ;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #c73c72;
    position: relative;
    top: -5875px;
    left: 565px;
    rotate: -5deg;
}
#Triangle4
{
    
   width: 0px;
   height: 0px;
    position: relative;
    border-left: 35px solid transparent ;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #c73c72;
    position: relative;
    top: -5930px;
    left: 385px;
    rotate: -5deg;
}

/* Eyes*/

#Circle3
{
    height: 60px;
    width: 60px;
    background-color: rgb(164, 218, 65);
    position: absolute;
    top:1100px;
    left:420px;
    border-color: black;
    border-width: 30px;
    border-radius: 70px;
    
    border: 6px ;
    padding: 5px;
    border: 6px solid black;
}
#Circle4
{
    height: 60px;
    width: 60px;
    background-color: rgb(164, 218, 65);
    position: absolute;
    top:1090px;
    left:580px;
    border-color: black;
    border-width: 30px;
    border-radius: 70px;
    
    border: 6px ;
    padding: 5px;
    border: 6px solid black;
}

